packages:
    yum:
        postgresql-devel: []
container_commands:
    01_migrate:
        command: "django-admin.py migrate"
        leader_only: true

option_settings:
    aws:elasticbeanstalk:application:environment:
        PORT: 8000
        DJANGO_SETTINGS_MODULE: combios.settings
    aws:elasticbeanstalk:container:python:
        WSGIPath: app/combios/wsgi.py
        